{% extends "base.html.j2" %}
{% block title %}Success{% endblock %}
{% block content %}
    <h1>You are already logged in</h1>
    {% if remaining_quota is defined %}
        <p>You have {{'%0.2f'| format(remaining_quota / 1024**2|float)}} MiB of transfer volume remaining</p>
    {% endif %}
{% endblock %}
