{% extends "base.html.j2" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form action="/nodogsplash_preauth/" method="GET">
        <input type="hidden" name="clientip" value="{{ clientip }}" />
        <input type="hidden" name="gatewayname" value="{{ gatewayname }}" />
        <input type="hidden" name="redir" value="{{ redir }}" />

        <label for="username">Username</label>
        <input id="username" type="text" name="username" autocomplete="on" />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" autocomplete="on" />

        <input type="submit" value="Login" />
    </form>
{% endblock %}
