{% extends "base.html.j2" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>

    {% if message is defined %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="/nodogsplash_preauth/" method="GET">
        <input type="hidden" name="clientip" value="{{ query.clientip }}" />
        <input type="hidden" name="gatewayname" value="{{ query.gatewayname }}" />
        <input type="hidden" name="redir" value="{{ query.redir }}" />

        <label for="username">Username</label>
        <input id="username" type="text" name="username" value="{{ query.username }}" autocomplete="on" required />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" autocomplete="on" required />

        <input type="submit" value="Login" />
    </form>
{% endblock %}
