{% extends "base.html.j2" %}
{% block title %}Success{% endblock %}
{% block content %}
    <h1>Success</h1>
    <p id="message">You have {{'%0.2f'| format(remaining_quota / 1024**2|float)}} MiB of transfer volume remaining</p>
    <form action="/nodogsplash_auth/" method="get">
        <input type="hidden" name="tok" value="{{ token }}">
        <input type="hidden" name="redir" value="{{ query.redir }}">
        <input type="submit" value="Start browsing" >
    </form>
{% endblock %}
